<section>
    <div class="intro-conocenos d-flex align-items-center justify-content-center mb-5">
        <div class="text-center container">
            <h2 class="text-white display-2">
                Conocenos
            </h2>
            <p class="text-white-75 fs-4">Aprenda mas acerca de nuestra visión...</p>
        </div>
    </div>

    <!-- QUIENES SOMOS -->

    <div class="d-flex align-items-center flex-wrap flex-md-nowrap gap-2 my-4">

        <div class="container d-flex justify-content-end">
            <div class="col-md-8">
                <h3 class="fw-bold display-4">¿Quienes somos?</h3>
                <p class="fs-5"> Somos una organización dedicada a ofrecer soluciones integrales a empresas, con el fin de optimizar los procesos relacionados con la gestión del talento humano brindando una mano de obra oportuna, eficaz y calificada que pone a su disposición
                    gran capacidad técnica , administrativa y financiera. </p>
            </div>

        </div>

        <div class="container d-flex flex-wrap  justify-content-center gap-2">

            <div class="mt-md-5">
                <img class="rounded-4" loading="lazy" src="../../../assets/img/conocenos/1.webp" alt="" style="width: 200px;">
            </div>
            <div class=" animated ">
                <img class="rounded-4" loading="lazy" src="../../../assets/img/conocenos/2.webp" style="width: 200px;" alt="">
            </div>
        </div>

    </div>
    <!-- QUIENES SOMOS -->

    <!-- MISION -->
    <div>

        <div class="col-md-6 container pb-5">
            <h3 class="fw-bold display-4">Misión</h3>
            <p class="fs-5"> Suministrar a las empresas contratantes el personal calificado e idóneo para la satisfacción de sus necesidades corporativas, atendiendo los requerimientos de manera oportuna y con alta calidad, que permitan efectuar servicios basándonos en
                el respeto, la responsabilidad, honestidad y transparencia en los procesos atrayendo, capacitando, fidelizando y administrando de manera eficiente el recurso humano, agregando valor en los niveles y estrategias de nuestros clientes usando
                recursos innovadores y tecnológicos. </p>
        </div>

    </div>
    <!-- MISION -->

    <!-- VISION -->
    <div class="d-flex justify-content-end py-4 bg-primario">

        <div class="p-4 tex-white col-md-8" style=" border-radius: 3rem 0 0 3rem ">
            <h3 class="fw-bold display-4 text-white">Visión</h3>
            <p class="fs-5 text-white"> Ser una empresa de servicios temporales líder a nivel nacional en el manejo del talento humano que permita cubrir las expectativas del personal temporal de nuestros clientes, reconocida y destacada por su eficacia, cumplimiento y apoyo a los
                procesos productivos a través del capital intelectual impreso en los servicios prestados. </p>
        </div>

    </div>
    <!-- VISION -->

    <!-- VALORES CORPORATIVOS -->
    <div class="d-flex align-items-start flex-wrap flex-md-nowrap gap-2 py-4 mt-4">

        <!-- SLIDER -->
        <div class="container d-flex justify-content-center ">

            <swiper [config]="config" [effect]="'fade'" [autoplay]="{delay: 1500, disableOnInteraction: false }" class="mySwiper">

                <ng-template swiperSlide>
                    <img src="../../../assets/img/conocenos/valor1.webp" style="height: 450px;border-radius: 2rem;" loading="lazy" alt="">

                </ng-template>

                <ng-template swiperSlide>
                    <img src="../../../assets/img/conocenos/valor2.webp" style="height: 450px;border-radius: 2rem;" loading="lazy" alt="">

                </ng-template>

                <ng-template swiperSlide>
                    <img src="../../../assets/img/conocenos/valor3.webp" style="height: 450px;border-radius: 2rem;" loading="lazy" alt="">

                </ng-template>

            </swiper>

        </div>
        <!-- SLIDER -->

        <div class="container">
            <div class="col-md-8">
                <h3 class="fw-bold display-4">Valores Corporativos</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item border-0 py-1 fs-5 text-muted"> <i class="bi-check text-segundario"></i> Cumplimiento </li>
                    <li class="list-group-item border-0 py-1 fs-5 text-muted"> <i class="bi-check text-segundario"></i> Calidad </li>
                    <li class="list-group-item border-0 py-1 fs-5 text-muted"> <i class="bi-check text-segundario"></i> Responsabilidad </li>
                    <li class="list-group-item border-0 py-1 fs-5 text-muted"> <i class="bi-check text-segundario"></i> Confianza </li>
                    <li class="list-group-item border-0 py-1 fs-5 text-muted"> <i class="bi-check text-segundario"></i> Compromiso </li>
                    <li class="list-group-item border-0 py-1 fs-5 text-muted"> <i class="bi-check text-segundario"></i> Respeto </li>
                    <li class="list-group-item border-0 py-1 fs-5 text-muted"> <i class="bi-check text-segundario"></i> Integración </li>
                </ul>
            </div>

        </div>

    </div>
    <!-- VALORES CORPORATIVOS -->


    <!-- PRINCIPIOS -->
    <div class="my-5">
        <div class="col-md-8 mx-auto text-center container">
            <h3 class="fw-bold display-4">Principios</h3>
        </div>

        <div class="d-flex justify-content-center flex-wrap gap-4 mt-4 px-2">

            <div class="col-md-2 shadow rounded-4 border-top-primario">
                <div class="p-4 card-body text-center text-break">
                    <h4 class="display-4 text-primario">1</h4>
                    <p class="mb-0 text-muted">
                        Atender a las empresas usuarias y clientes en general que requieran nuestros servicios de manera oportuna e integra
                    </p>

                </div>
            </div>

            <div class="col-md-2 shadow rounded-4 border-top-segundario">
                <div class="p-4 card-body text-center text-break">
                    <h4 class="display-4 text-segundario">2</h4>
                    <p class="mb-0 text-muted">
                        Apoyamos las políticas de empleo, con la especial convicción de generar y conservar el derecho al trabajo bajo normas legales y sociales
                    </p>

                </div>
            </div>

            <div class="col-md-2 shadow rounded-4 border-top-tercero">
                <div class="p-4 card-body text-center text-break">
                    <h4 class="display-4 text-tercero">3</h4>
                    <p class="mb-0 text-muted">
                        Entendemos y respetamos el derecho al trabajo como fundamento de la dignidad humana
                    </p>

                </div>
            </div>

            <div class="col-md-2 shadow rounded-4 border-top-cuarto">
                <div class="p-4 card-body text-center text-break">
                    <h4 class="display-4 text-cuarto">4</h4>
                    <p class="mb-0 text-muted">
                        Integración en los procesos transversales de las empresas usuarias de manera activa, respetuosa con observancia de las normas.
                    </p>

                </div>
            </div>

        </div>

    </div>
    <!-- PRINCIPIOS -->


</section>