<section class="" style="min-height: 75vh;">
    <div class="d-flex justify-content-center align-item-center ">
        <div class="my-5 col-md-6">
            <h2>Empresas</h2>

            <div class="border px-4 py-5">
                <h3 class="text-center mb-0">Inicio de session con Google</h3>
                <p class="text-center">Inicia session de la forma mas segura con tu cuenta de gmail</p>
                <a routerLink="/dashboard" class="btn btn-primary btn-lg btn-block w-100 mx-auto"> Iniciar session </a>
            </div>

        </div>

    </div>
</section>