<section class="pb-3 pb-md-4 bg-white px-5">
    <div class="container">
        <div class="border-bottom mt-lg-2 pt-5 pb-2 mb-3">
            <h1 class="mt-3">Políticas de privacidad</h1>
        </div>
        <div class="pb-5">
            <p class="text-justify"> En Fortaleza Temp Job Plus Est S.A.S, ponemos a tu disposición, nuestra política de privacidad adoptada en cumplimiento del régimen legal vigente contenido y desarrollado a partir de lo dispuesto en la Ley Estatutaria 1581 de 2012 y 1266 de
                2,008 en lo pertinente.
            </p>
            <h2 class="h4 pt-3">Definiciones previas:</h2>
            <p class="text-muted mb-2">Para un mejor entendimiento de la presente política, es importante que conozcas los siguientes conceptos y su definición legal:</p>
            <ul class="pt-2">
                <li class="pb-3 text-justify"><strong>Autorización:</strong> Es el consentimiento previo, expreso e informado del Titular para llevar a cabo el Tratamiento de datos personales. </li>
                <li class="pb-3 text-justify"><strong>Encargado del tratamiento: </strong> Es la persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realiza el Tratamiento de datos personales en nombre y por cuenta del Responsable del tratamiento.
                </li>
                <li class="pb-3 text-justify"><strong>Responsable del tratamiento:</strong> Es la persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decide sobre el Tratamiento de los datos personales a partir de la Autorización del Titular u otra
                    habilitación legal. </li>
                <li class="pb-3 text-justify"><strong>Titular:</strong> Es la persona natural cuyos datos personales sean objeto de Tratamiento. </li>
                <li class="pb-3 text-justify"><strong>Tratamiento:</strong> Se define como cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión. </li>
                <li class="pb-3 text-justify"><strong>Transferencia:</strong> Envío de datos personales de un Responsable del Tratamiento a un nuevo Responsable del Tratamiento. </li>
                <li class="pb-3 text-justify"><strong>Transmisión:</strong> Comunicación de datos personales de un Responsable del Tratamiento a un Encargado de Tratamiento con el fin de que este realice alguna actividad o preste algún servicio a nombre y cuenta del Responsable del
                    Tratamiento que le comunica los datos. </li>
            </ul>
            <h2 class="h4 pt-3">Nuestra identificación</h2>
            <div class="widget mb-3">
                <ul class="widget-list">
                    <li class="d-flex pb-3 border-bottom"><i class="ci-briefcase fs-lg mt-2 text-primary"></i>
                        <div class="ps-3"><span class="fs-ms text-muted">Nombre o Razon Social</span>
                            <p class="d-block text-heading fs-sm mb-0"> Fortaleza Temp Job Plus Est S.A.S </p>
                            <p class="d-block text-heading fs-sm mb-0"> NIT: 901.601.054-5 </p>
                        </div>
                    </li>
                    <li class="d-flex pb-3 border-bottom"><i class="ci-location fs-lg mt-2 text-primary"></i>
                        <div class="ps-3"><span class="fs-ms text-muted">Domicilio</span>
                            <p class="d-block text-heading fs-sm">Sincelejo, Carrera 25C No. 52a-120 Los Alpes - Colombia</p>
                        </div>
                    </li>
                    <li class="d-flex pt-2"><i class="ci-mail fs-lg mt-2 text-primary"></i>
                        <div class="ps-3"><span class="fs-ms text-muted">Email</span><a href="mailto:nomina.fortaleza@gmail.com" class="d-block text-heading fs-sm">nomina.fortaleza@gmail.com</a></div>
                    </li>
                </ul>
            </div>
            <h2 class="h4 pt-3">Introducción:</h2>
            <p class="text-justify"> Fortaleza Temp Job Plus Est S.A.S, como organización multicanal y multinegocio, trata datos personales de sus grupos de interés en ejecución de su objeto social, en el cual se incluyen actividades de: comercio al por menor en establecimientos
                no especializados con surtido compuesto por todo tipo de artículos y servicios de consumo masivo, principalmente por hogar, tecnología, entre otras líneas de negocio, sea a través de canales físicos y/o electrónicos, para lo cual distribuye
                y comercializa tales productos a través de marcas representadas, todas ellas registradas actualmente, todas las actividades requeridas en materia de adquisición, creación, inversión, organización, establecimiento, administración y explotación
                de otros negocios incluidos en el objeto social, como lo pueden ser el comercio al por mayor, comercio directo y electrónico, viajes corresponsalía bancaria, giros, remesas, entre otros autorizados por la ley. </p>
            <h2 class="h4 pt-3">Nuestro compromiso:</h2>
            <p class="text-justify"> Los datos personales en custodia de Fortaleza Temp Job Plus Est S.A.S, en su condición de Responsable y/o Encargado del tratamiento según el caso, serán tratados y protegidos cumpliendo los principios y regulaciones previstas en las leyes
                colombianas y demás que le sean aplicables en la materia, así como de conformidad con buenas prácticas en protección de datos personales. </p>
            <h2 class="h4 pt-3">Ámbito de aplicación:</h2>
            <p class="text-justify"> La presente política aplica al tratamiento de los datos personales de los titulares que conforman los diversos grupos de interés de Fortaleza Temp Job Plus Est S.A.S, trátese de clientes, proveedores, empleados, accionistas, entre otros. En
                este sentido, la misma es aplicable al tratamiento de datos personales de la persona natural que nos proporcione sus datos personales, directamente o a través de terceros, bien sea en calidad de responsable o de Encargado de tratamiento,
                cumpliendo con los respectivos requisitos legales vigentes en la materia. </p>
            <h2 class="h4 pt-3">¿Con cuáles fines trataremos tus datos?</h2>
            <p class="text-justify"> De conformidad con las autorizaciones que nos proporciones de forma previa, expresa e informada, exceptuando aquellas situaciones en las cuales conforme a la ley dicha Autorización no sea requerida, Fortaleza Temp Job Plus Est S.A.S recolectará,
                almacenará, custodiará, procesará, circulará, transmitirá o transferirá, y tratará tus datos personales conforme a las siguientes finalidades de carácter general: </p>
            <ul class="pt-2">
                <li class="pb-3 text-justify"> Para cumplir con las obligaciones derivadas de los contratos comerciales y demás negocios jurídicos que celebra Fortaleza Temp Job Plus Est S.A.S en desarrollo de su objeto. </li>
                <li class="pb-3 text-justify"> Para la gestión integral del programa de lealtad de clientes de Fortaleza Temp Job Plus Est S.A.S, bien sea que este sea administrado directamente o a través de terceros, lo cual podrá implicar la transmisión o transferencia segura de
                    los datos personales que sean pertinentes y necesarios para dicha gestión, cumpliendo con los requisitos legales correspondientes. </li>
                <li class="pb-3 text-justify"> Para realizar actividades de inteligencia de negocios, prospectiva de clientes, tendencias e investigación de mercado, seguimiento de perfiles en redes sociales, trazabilidad de patrones y comportamientos de consumo, analítica de datos,
                    desarrollos de inteligencia artificial, ejecución de actividades de mercadeo y relacionamiento, trazabilidad de comportamiento en nuestros portales web y aplicaciones así como en los dispositivos electrónicos que lo permitan, con el
                    fin de mejorar la experiencia de nuestros clientes y usuarios, así como también contar con una oferta de productos y servicios más adecuada, todo ello de acuerdo con las autorizaciones previas que nos otorgues a más tardar al momento
                    de proporcionarnos tus datos personales. </li>
                <li class="pb-3 text-justify"> Para comunicarte información sobre nuestros bienes, servicios, publicaciones, eventos de capacitación, actividades comerciales, ofertas, promociones, alianzas, y publicidad asociada a nuestra actividad empresarial, sea que se realice de
                    manera directa o a través de terceros, de conformidad con los términos que nos autorices al momento de proporcionarnos tus datos, y a través de los medios de contacto y comunicación que nos proporciones y autorices. </li>
                <li class="pb-3 text-justify"> Para el cumplimiento de las obligaciones legales que Fortaleza Temp Job Plus Est S.A.S tiene como empleador, ejecutar actividades orientadas a la mejora del clima laboral, a la formación y bienestar de sus empleados, a la gestión de riesgos
                    asociados a sus labores y a la ejecución de medias de tratamiento pertinentes, sean ejecutadas directamente por Fortaleza Temp Job Plus Est S.A.S o en alianza con terceros, como pueden ser fondos de empleados, fondos mutuos de inversión,
                    entidades, financieras, cajas de compensación familiar, instituciones educativas, entre otros. </li>
                <li class="pb-3 text-justify"> Para desplegar hacia nuestros grupos de interés actividades de responsabilidad social empresarial. </li>
                <li class="pb-3 text-justify"> Para gestionar la seguridad de las personas, bienes y activos de información en custodia de nuestra organización, a través de mecanismos que pueden incluir videovigilancia en nuestras instalaciones y en perímetros cercanos según el alcance
                    de los dispositivos utilizados. </li>
                <li class="pb-3 text-justify"> Para transferir datos a terceros conforme a las disposiciones legales vigentes y en los términos que nos autorices de forma previa, expresa e informada. </li>
            </ul>
            <h2 class="h4 pt-3">La Autorización para el tratamiento de tus datos personales</h2>
            <p class="text-justify"> Conforme lo permitan la ley y tu Autorización, Fortaleza Temp Job Plus Est S.A.S transferirá tus datos personales con su casa matriz y negocios conjuntos. Para ello solicitaremos tu Autorización previa, expresa e informada a más tardar al
                momento de recolectar los datos. </p>
            <h2 class="h4 pt-3">¿Con quién podemos compartir tus datos personales?</h2>
            <p class="text-justify"> Para tratar tus datos personales con las anteriores finalidades, o con otras finalidades particulares, solicitaremos de conformidad con lo dispuesto en la normativa vigente aplicable y los medios legales permitidos, tu Autorización previa,
                expresa e informada, salvo cuando por disposición legal la misma no sea requerida. Así, en cada proceso de la empresa, y acorde con los datos personales recolectados y tratamiento a realizar, en el respectivo aviso de privacidad o en la
                solicitud de Autorización te informaremos de forma previa las finalidades particulares, la posibilidad de que los datos sean compartidos a terceros Encargados de tratamiento, los derechos que te asisten como titular, los mecanismos que
                tenemos dispuestos para garantizar el ejercicio de dichos derechos, y los canales de acceso a esta Política de Privacidad. </p>
            <p class="text-justify"> Fortaleza Temp Job Plus Est S.A.S te informa que podrá comercializar productos o servicios de información agregada generada por el procesamiento de diversa información entre la cual puede estar incluida tu información personal, información
                comercial propia de la compañía, entre otras. El procesamiento de tu información personal podrá comprender las diversas actividades de tratamiento que se mencionan en el apartado “¿Con cuáles fines trataremos tus datos?”, las cuales conforme
                lo indicamos en dicho aparte, solo serán ejecutadas con tu Autorización previa, expresa e informada. </p>
            <p class="text-justify"> Además, en algunas ocasiones, terceros aliados de Fortaleza Temp Job Plus Est S.A.S podrán compartirnos tus datos personales, bien sea a través de transferencias autorizadas previamente por tu parte, o a través de transmisiones para dar desarrollo
                a encargos debidamente ejecutados conforme a las disposiciones legales vigentes en la materia. </p>
            <h2 class="h4 pt-3">¿Cuáles son los derechos que tienes sobre tus datos personales (derechos de habeas data)?</h2>
            <ul class="pt-2">
                <li class="pb-3 text-justify"> Acceder, conocer, consultar, rectificar, corregir y actualizar tus datos personales. </li>
                <li class="pb-3 text-justify"> Revocar de forma parcial o total la Autorización que nos has otorgado y/o solicitar la supresión parcial o total de tus datos personales, salvo cuando por deberes legales o contractuales tus datos deban permanecer en nuestras bases de
                    datos. </li>
                <li class="pb-3 text-justify"> Solicitar prueba de la Autorización que nos has otorgado para tratar tus datos personales. </li>
                <li class="pb-3 text-justify"> Ejercer las demás acciones que la ley te reconoce en materia de protección de datos personales y habeas data. </li>
            </ul>
            <h2 class="h4 pt-3">¿Cómo cuidamos tus datos personales?</h2>
            <p class="text-justify"> Fortaleza Temp Job Plus Est S.A.S protege tu información personal con las medidas técnicas, humanas y administrativas necesarias para otorgar seguridad en todo su ciclo de vida, desde la recolección hasta su depuración y eliminación, a partir
                de lo definido en las políticas y lineamientos de seguridad que permean a toda la organización, desde la alta dirección hasta la operación. </p>
        </div>
    </div>
</section>