<div class="bg-primario py-2 px-2 ">
    <div class="d-flex flex-wrap container">
        <div>
            <span class="text-white"><i class="bi-phone"></i> <a href="tel:+573017954266" class="text-decoration-none text-white"> 301-7954266</a></span>
        </div>
        <div class="ms-auto">
            <span class="text-white"><i class="bi-envelope"></i> <a href="mailto:gestioncomercial@fortalezasas.com" class="text-decoration-none text-white"> gestioncomercial@fortalezasas.com</a></span>
        </div>
    </div>
</div>
<header class="shadow-sm sticky-top bg-white">
    <nav class="navbar navbar-expand-lg py-3 bg-white container">

        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">
                <img src="../../../assets/img/logo/logo.webp" alt="fortaleza temp job plus S.A.S" height="24">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="bi bi-list"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
                    <li class="nav-item">
                        <a class="nav-link text-primario" aria-current="page" routerLink="/inicio" routerLinkActive="active">INICIO</a>
                    </li>
                    <li class="nav-item mx-md-3">
                        <a class="nav-link text-primario" aria-current="page" routerLink="/conocenos" routerLinkActive="active">CONÓCENOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primario" aria-current="page" routerLink="/contacto" routerLinkActive="active">CONTACTO</a>
                    </li>
                </ul>

                <div class="ms-auto">

                    <a *ngIf="!login" class="text-decoration-none text-primario fw-bold me-2" routerLink="/portal/trabajadores" routerLinkActive="active">Trabajadores</a>
                    <a *ngIf="!login" routerLink="/portal/empresas" routerLinkActive="active" class="btn btn-sm btn-outline-success rounded-pill">Empresas</a>

                    <ul *ngIf="login" class="navbar-nav ">
                        <li *ngIf="worker" class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              {{ worker.name }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" routerLink="/dashboard/perfil">Perfil</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" (click)="logout()">Salir</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </nav>
</header>