<!-- INTRO  card-img-->
<section class="container pt-5">

    <div class="d-flex align-items-center justify-content-center flex-wrap flex-md-nowrap gap-4">

        <div class="animated fadeIn">
            <div class="card" style="width:18rem; border-radius: 10rem;">
                <img class="card-img" src="../../../assets/img/inicio/intro.webp" alt="">
            </div>
        </div>

        <div class="animated fadeInLeft">
            <h5 class="mb-0 text-break text-sm-start text-center text-primario">Titulo</h5>
            <h1 class="mb-0 text-break text-sm-start text-center text-primario">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, veritatis. </h1>
        </div>

    </div>

</section>
<!-- INTRO -->

<!-- CALL ACTION -->
<section class="my-5">
    <div class="bg-primario py-3">

        <h2 class="mb-0 text-white text-center">
            <a class="text-decoration-none text-white" href="https://walink.co/ceca5b" target="_blank">
                <i class="bi-whatsapp"></i> Quiero hablar con un asesor!
            </a>
        </h2>

    </div>
</section>
<!-- CALL ACTION -->

<!-- PRINCIPALES SERVICIOS -->
<section class="mb-5">

    <div>
        <h2 class="text-center">
            <span class="title-section text-primario">
                Principales Servicios
            </span>
        </h2>

        <div class=" text-center ">
            <img src="../../../assets/img/inicio/icono.webp " alt="fortaleza temp job sas " style="max-width: 80px; ">
        </div>

    </div>

    <div class="d-flex align-items-center justify-content-center flex-wrap flex-md-nowrap gap-5 mt-5 ">

        <!-- SERVICE CARD -->
        <div class="card py-4 border-0 shadow " style="width: 12rem; border-radius: 2rem; ">
            <div class="text-center ">
                <img src="../../../../../assets/img/inicio/icono1.webp " style="max-width: 70px; " class="card-img-top " alt="... ">
            </div>
            <div class="card-body text-center text-primario ">
                <h5 class="card-title ">Servicio 1</h5>
                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <!-- SERVICE CARD -->

        <!-- SERVICE CARD -->
        <div class="card py-4 border-0 shadow " style="width: 12rem; border-radius: 2rem; ">
            <div class="text-center ">
                <img src="../../../../../assets/img/inicio/icono2.webp " style="max-width: 70px; " class="card-img-top " alt="... ">
            </div>
            <div class="card-body text-center text-segundario ">
                <h5 class="card-title ">Servicio 1</h5>
                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <!-- SERVICE CARD -->

        <!-- SERVICE CARD -->
        <div class="card py-4 border-0 shadow " style="width: 12rem; border-radius: 2rem; ">
            <div class="text-center ">
                <img src="../../../../../assets/img/inicio/icono3.webp " style="max-width: 70px; " class="card-img-top " alt="... ">
            </div>
            <div class="card-body text-center text-tercero ">
                <h5 class="card-title ">Servicio 1</h5>
                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <!-- SERVICE CARD -->

        <!-- SERVICE CARD -->
        <div class="card py-4 border-0 shadow " style="width: 12rem; border-radius: 2rem; ">
            <div class="text-center ">
                <img src="../../../../../assets/img/inicio/icono4.webp " style="max-width: 70px; " class="card-img-top " alt="... ">
            </div>
            <div class="card-body text-center text-cuarto ">
                <h5 class="card-title ">Servicio 1</h5>
                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <!-- SERVICE CARD -->

    </div>

</section>
<!-- PRINCIPALES SERVICIOS -->

<!-- RECLUTAMIENTO -->
<section class="py-5">

    <div class="mb-5">
        <h2 class="text-center">
            <span class="title-section-segundario text-segundario">
                Reclutamiento
            </span>
        </h2>
    </div>

    <div class="d-flex align-items-start flex-wrap flex-md-nowrap gap-5">

        <div class="w-50">
            <img src="../../../assets/img/inicio/reclutamiento.webp" style="max-width: 350px; border-radius: 0 5rem 5rem 0;" alt="">
        </div>

        <div class="container">

            <div class="w-auto ms-auto px-5">
                <p class="title-section-segundario mb-0"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos commodi aspernatur dolore rem autem distinctio repudiandae, tempore dignissimos est maiores? Deleniti rem inventore enim nulla, </p>
                <br>
                <p class="mb-0" style="padding-left: 1rem;"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda natus, beatae quisquam commodi laudantium aliquam in, facere quasi odit inventore ex pariatur officia! Placeat, quia.</p>
                <br>
                <p class="mb-0" style="padding-left: 1rem;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eligendi quas minus, cumque veniam earum? </p>
                <br>
                <button routerLink="/reclutamiento" class="btn btn-success bg-segundario btn-sm btn-lg btn-block w-100 rounded-pill">Saber mas...</button>
            </div>

        </div>

    </div>
</section>
<!-- RECLUTAMIENTO -->

<!-- ADMIN TEMP -->
<section class="py-5 mb-5">

    <div class="mb-5 ms-2">
        <h2 class="">
            <span class="title-section-tercero text-tercero">
                Administración Temporal
            </span>
        </h2>
    </div>

    <div class="d-flex align-items-start flex-wrap flex-md-nowrap gap-5">

        <div class="container">

            <div class="w-auto me-auto px-5">
                <p class="title-section-tercero mb-0"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos commodi aspernatur dolore rem autem distinctio repudiandae, tempore dignissimos est maiores? Deleniti rem inventore enim nulla, </p>
                <br>
                <p class="mb-0" style="padding-left: 1rem;"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda natus, beatae quisquam commodi laudantium aliquam in, facere quasi odit inventore ex pariatur officia! Placeat, quia.</p>
                <br>
                <p class="mb-0" style="padding-left: 1rem;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eligendi quas minus, cumque veniam earum? </p>
                <br>
                <button routerLink="/reclutamiento" class="btn btn-info bg-tercero text-white btn-sm btn-block w-100 rounded-pill">Saber mas...</button>
            </div>

        </div>

        <div class="">
            <img class="ms-auto" src="../../../assets/img/inicio/admintemp.webp" style="max-width: 350px; border-radius: 5rem 0 0 5rem ; right: 0px;" alt="">
        </div>



    </div>
</section>
<!-- ADMIN TEMP -->

<!-- BENEFICIOS -->
<section class="py-5 mb-5">

    <div class="mb-5">
        <h3 class="text-center">
            <span class="title-section text-primario">
                Beneficios
            </span>
        </h3>
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <swiper [config]="config" [effect]="'cards'" [autoplay]="{delay: 1500, disableOnInteraction: false }" class="mySwiper">

            <ng-template swiperSlide>
                <div class="card py-4 border-0 shadow " style="width: 18rem; border-radius: 2rem; ">
                    <div class="text-center ">
                        <h3 class="display-1 text-primario">1</h3>
                    </div>
                    <div class="card-body text-center text-cuarto ">
                        <h5 class="card-title text-primario">Beneficio 1</h5>
                        <p class="card-text text-primario">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

            </ng-template>

            <ng-template swiperSlide>
                <div class="card py-4 border-0 bg-primario  shadow " style="width: 18rem; border-radius: 2rem; ">
                    <div class="text-center ">
                        <h3 class="display-1 text-white">2</h3>
                    </div>
                    <div class="card-body text-center text-cuarto ">
                        <h5 class="card-title text-white">Beneficio 2</h5>
                        <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

            </ng-template>

            <ng-template swiperSlide>
                <div class="card py-4 border-0 bg-tercero  shadow " style="width: 18rem; border-radius: 2rem; ">
                    <div class="text-center ">
                        <h3 class="display-1 text-white">3</h3>
                    </div>
                    <div class="card-body text-center text-cuarto ">
                        <h5 class="card-title text-white">Beneficio 3</h5>
                        <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

            </ng-template>

        </swiper>
    </div>


</section>
<!-- BENEFICIOS -->

<!-- MENSAJE -->
<section class="py-5 d-flex align-items-center" style="background-image: url('../../../assets/img/inicio/mensaje.webp');background-repeat: no-repeat;background-size: cover; min-height: 500px;">

    <div class="container">
        <div class="text-center pt-4">
            <img src="../../../assets/img/inicio/simbol.webp" style="max-width: 5rem;" alt="">
            <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos, consequuntur provident. Et aliquam, in optio deleniti omnis voluptatem rem, dolore nisi, rerum magnam explicabo! Nostrum, qui ea. Quidem, ipsum laudantium.</p>
        </div>
    </div>

</section>
<!-- MENSAJE -->