<!-- INTRO  card-img-->
<section class="container pt-5 px-md-5">

    <div class="d-flex align-items-center justify-content-center flex-wrap flex-md-nowrap gap-4">

        <div class="animated fadeIn">
            <div class="card" style="width:18rem; border-radius: 10rem;">
                <img class="card-img" src="../../../assets/img/inicio/intro.webp" alt="">
            </div>
        </div>

        <div class="animated fadeInLeft">
            <h1 class="mb-0 text-break text-sm-start text-center text-primario">Contratar una persona calificada puede ser muy fácil. </h1>
            <h5 class="mb-0 text-break text-sm-start text-center fw-normal text-primario mt-2">Mejorar indicadores, alcanzar tus metas , disminuir la rotación de personal y optimizar costos es posible</h5>
        </div>

    </div>

</section>
<!-- INTRO -->

<!-- CALL ACTION -->
<section class="my-5">
    <div class="bg-primario py-3">

        <h2 class="mb-0 text-white text-center">
            <a class="text-decoration-none text-white" href="https://api.whatsapp.com/send?phone=573245173063&text=Quiero%20hablar%20con%20un%20asesor" target="_blank">
                <i class="bi-whatsapp"></i> Quiero hablar con un asesor!
            </a>
        </h2>

    </div>
</section>
<!-- CALL ACTION -->

<!-- PRINCIPALES SERVICIOS -->
<section class="mb-5">

    <div>
        <h2 class="text-center">
            <span class="title-section text-primario">
                Principales Servicios
            </span>
        </h2>

        <div class=" text-center ">
            <img src="../../../assets/img/inicio/icono.webp " alt="fortaleza temp job sas " style="max-width: 80px; ">
        </div>

    </div>

    <div class="d-flex align-items-center justify-content-center flex-wrap flex-md-nowrap gap-5 mt-5 ">

        <!-- SERVICE CARD -->
        <div class="card py-4 border-0 shadow " style="width: 12rem; border-radius: 2rem; ">
            <div class="text-center ">
                <img src="../../../../../assets/img/inicio/icono1.webp " style="max-width: 70px; " class="card-img-top " alt="... ">
            </div>
            <div class="card-body text-center text-primario ">
                <h5 class="card-title ">Selección de personal calificado </h5>
                <p class="card-text ">Este proceso permite brindar al cliente la oportunidad y confiabilidad del personal a contratar</p>
            </div>
        </div>
        <!-- SERVICE CARD -->

        <!-- SERVICE CARD -->
        <div class="card py-4 border-0 shadow " style="width: 12rem; border-radius: 2rem; ">
            <div class="text-center ">
                <img src="../../../../../assets/img/inicio/icono2.webp " style="max-width: 70px; " class="card-img-top " alt="... ">
            </div>
            <div class="card-body text-center text-segundario ">
                <h5 class="card-title ">Contratación del personal</h5>
                <p class="card-text ">Una vez seleccionado el candidato, se procede a realizar el examen médico de ingreso para calificar el estado de aptitud médico y ocupacional, así como la inducción de las actividades a desarrollar en la empresa usuaria , finalmente se
                    procede a firmar el contrato laboral y se afilia a todo el sistema general de seguridad social. </p>
            </div>
        </div>
        <!-- SERVICE CARD -->

        <!-- SERVICE CARD -->
        <div class="card py-4 border-0 shadow " style="width: 12rem; border-radius: 2rem; ">
            <div class="text-center ">
                <img src="../../../../../assets/img/inicio/icono3.webp " style="max-width: 70px; " class="card-img-top " alt="... ">
            </div>
            <div class="card-body text-center text-tercero ">
                <h5 class="card-title ">Administración del personal</h5>
                <p class="card-text ">Ofrecemos un servicio eficiente para la administración integral de la nómina, a través de nuestra infraestructura operativa y tecnológica, que garantiza el buen desempeño del personal seleccionado en sus procesos. </p>
            </div>
        </div>
        <!-- SERVICE CARD -->

        <!-- SERVICE CARD -->
        <div class="card py-4 border-0 shadow " style="width: 12rem; border-radius: 2rem; ">
            <div class="text-center ">
                <img src="../../../../../assets/img/inicio/icono4.webp " style="max-width: 70px; " class="card-img-top " alt="... ">
            </div>
            <div class="card-body text-center text-cuarto ">
                <h5 class="card-title ">Disminución de riesgos laborales</h5>
                <p class="card-text ">Disponemos de un equipo interdisciplinario especializado en la prevención de situaciones que generen riesgos para los trabajadores en misión en la empresa usuaria. </p>
            </div>
        </div>
        <!-- SERVICE CARD -->

    </div>

</section>
<!-- PRINCIPALES SERVICIOS -->

<!-- RECLUTAMIENTO -->
<section class="py-5">

    <div class="mb-5">
        <h2 class="text-center">
            <span class="title-section-segundario text-segundario">
                Reclutamiento
            </span>
        </h2>
    </div>

    <div class="d-flex align-items-start flex-wrap flex-md-nowrap gap-5">

        <div class="w-50">
            <img src="../../../assets/img/inicio/reclutamiento.webp" style="max-width: 350px; border-radius: 0 5rem 5rem 0;" alt="">
        </div>

        <div class="container">

            <div class="w-auto ms-auto px-5">
                <p class="title-section-segundario mb-0"> De acuerdo con el perfil requerido, el cual se ajustara según formato de Requisición de Personal se evalúan las personas existentes en nuestra base de datos, así como también, se realiza reclutamiento mediante diferentes fuentes según
                    el perfil. </p>
                <br>
                <p class="mb-0" style="padding-left: 1rem;"> En el proceso de preselección se analiza el conjunto de habilidades definidas para el cargo, en términos de conocimiento, ejecución y competencias básicas aplicable al desempeño de una función. Adicionalmente se evalúa su presentación
                    personal, documentación válida y vigente, experiencia, formación técnica y/o académica.</p>
            </div>

        </div>

    </div>
</section>
<!-- RECLUTAMIENTO -->

<!-- ADMIN TEMP -->
<section class="py-5 mb-5">

    <div class="mb-5 ms-2">
        <h2 class="">
            <span class="title-section-tercero text-tercero">
                Contratación del personal
            </span>
        </h2>
    </div>

    <div class="d-flex align-items-start flex-wrap flex-md-nowrap gap-5">

        <div class="container">

            <div class="w-auto me-auto px-5">
                <p class="title-section-tercero mb-0"> Dentro del proceso de contratación del personal tenemos la capacidad logística para la realización de la contratación individual en nuestras oficinas o masiva en las instalaciones de la empresa usuaria. Contratación que se realiza bajo
                    los parámetros normativos y legales dispuestos en el ordenamiento jurídico. </p>
                <br>
                <p class="mb-0" style="padding-left: 1rem;"> Nuestros procesos de contratación garantizan que el trabajador en misión el día del ingreso haya firmado su contrato y cuente con las afiliaciones al Sistema de Seguridad Social Integral. </p>
            </div>

        </div>

        <div class="">
            <img class="ms-auto" src="../../../assets/img/inicio/admintemp.webp" style="max-width: 350px; border-radius: 5rem 0 0 5rem ; right: 0px;" alt="">
        </div>



    </div>
</section>
<!-- ADMIN TEMP -->

<!-- BENEFICIOS -->
<section class="py-5 mb-5">

    <div class="mb-5">
        <h3 class="text-center">
            <span class="title-section text-primario">
                Beneficios
            </span>
        </h3>
    </div>

    <div class="d-flex align-items-center flex-wrap flex-md-nowrap gap-2">

        <div class="bg-primario p-4" style="border-radius: 0 3rem 3rem 0; max-width: 50%;">

            <div class="d-flex justify-content-end">
                <i class="bi-arrow-right display-6 text-white text-end d-none d-sm-block" style="position:absolute"></i>

            </div>

            <h3 class="text-white display-4 text-break">
                Conoce
            </h3>
            <h3 class="display-6 text-white">
                los beneficios de nuestros servicios...
            </h3>

            <i class="bi-arrow-down display-6 text-white text-end d-block d-sm-none"></i>

        </div>

        <!-- SLIDER -->
        <div class="d-flex justify-content-center align-items-center mx-auto">

            <swiper [config]="config" [effect]="'cards'" [autoplay]="{delay: 1500, disableOnInteraction: false }" class="mySwiper">

                <ng-template swiperSlide style="border-radius: 2rem;">
                    <div class="card py-4 border-0 shadow " style="width: 18rem;  ">
                        <div class="text-center ">
                            <h3 class="display-1 text-primario">1</h3>
                        </div>
                        <div class="card-body text-center text-cuarto ">
                            <h5 class="card-title text-primario">Beneficio 1</h5>
                            <p class="card-text text-primario">Recibir servicios de profesionales especializados de alta calidad </p>
                        </div>
                    </div>

                </ng-template>

                <ng-template swiperSlide>
                    <div class="card py-4 border-0 bg-primario  shadow " style="width: 18rem;  ">
                        <div class="text-center ">
                            <h3 class="display-1 text-white">2</h3>
                        </div>
                        <div class="card-body text-center text-cuarto ">
                            <h5 class="card-title text-white">Beneficio 2</h5>
                            <p class="card-text text-white">Contar con los perfiles requeridos en menor tiempo</p>
                        </div>
                    </div>

                </ng-template>

                <ng-template swiperSlide>
                    <div class="card py-4 border-0 bg-danger  shadow " style="width: 18rem;  ">
                        <div class="text-center ">
                            <h3 class="display-1 text-white">3</h3>
                        </div>
                        <div class="card-body text-center text-cuarto ">
                            <h5 class="card-title text-white">Beneficio 3</h5>
                            <p class="card-text text-white">Reducir esfuerzos en controles administrativos y financieros.</p>
                        </div>
                    </div>

                </ng-template>

                <ng-template swiperSlide>
                    <div class="card py-4 border-0 bg-dark  shadow " style="width: 18rem;  ">
                        <div class="text-center ">
                            <h3 class="display-1 text-white">4</h3>
                        </div>
                        <div class="card-body text-center text-cuarto ">
                            <h5 class="card-title text-white">Beneficio 4</h5>
                            <p class="card-text text-white">Disminución en tiempos de búsqueda, selección y vinculación del recurso humano.</p>
                        </div>
                    </div>

                </ng-template>
                <ng-template swiperSlide>
                    <div class="card py-4 border-0 bg-primary  shadow " style="width: 18rem;  ">
                        <div class="text-center ">
                            <h3 class="display-1 text-white">5</h3>
                        </div>
                        <div class="card-body text-center text-cuarto ">
                            <h5 class="card-title text-white">Beneficio 5</h5>
                            <p class="card-text text-white">Reducir costos en procesos de contratación.</p>
                        </div>
                    </div>

                </ng-template>

            </swiper>
        </div>
        <!-- SLIDER -->

    </div>


</section>
<!-- BENEFICIOS -->

<!-- MENSAJE -->
<section class="py-5 d-flex align-items-center" style="background-image: url('../../../assets/img/inicio/mensaje.webp');background-repeat: no-repeat;background-size: cover; min-height: 500px;">

    <div class="container">
        <div class="text-center pt-4">
            <img src="../../../assets/img/inicio/simbol.webp" style="max-width: 5rem;" alt="">
            <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos, consequuntur provident. Et aliquam, in optio deleniti omnis voluptatem rem, dolore nisi, rerum magnam explicabo! Nostrum, qui ea. Quidem, ipsum laudantium.</p>
        </div>
    </div>

</section>
<!-- MENSAJE -->