/* ===================================================
SWIPER
====================================================*/

.swiper {
    width: 18rem;
    height: auto;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}


/* ===================================================
SWIPER
====================================================*/