<section class="container-fluid animated fadeIn mt-5">
    <div class="d-flex justify-content-center flex-wrap gap-4">

        <div class="card">
            <div class="card-body text-center text-wrap">
                <i class="bi-geo-alt h3 mt-2 mb-4 text-primary"></i>
                <h3 class="h6 mb-3 fw-bold text-muted fw-bold">Dirección</h3>
                <ul class="list-unstyled fs-sm text-muted mb-0">
                    <li>Santander</li>
                    <li class="mb-0"> Floridablanca 1234 </li>
                </ul>
            </div>
        </div>

        <div class="">
            <div class="card h-100">
                <div class="card-body text-center text-wrap">
                    <i class="bi-clock h3 mt-2 mb-4 text-primary"></i>
                    <h3 class="h6 mb-3 fw-bold text-muted">Horario</h3>
                    <ul class="list-unstyled fs-sm text-muted mb-0">
                        <li>Lun - Vie: 9AM - 6PM</li>
                        <li class="mb-0">Sab: 9AM - 12PM</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="bi-phone h3 mt-2 mb-4 text-primary"></i>
                    <h3 class="h6 mb-3 fw-bold text-muted">Contacto</h3>
                    <ul class="list-unstyled fs-sm mb-0">
                        <li>
                            <span class="text-muted me-1">
                                Asesor 1:
                            </span>
                            <a class="nav-link-style" href="tel:+573138968846">313 896 8846</a>
                        </li>
                        <li class="mb-0">
                            <span class="text-muted me-1">
                                Asesor 2:
                            </span>
                            <a class="nav-link-style" href="tel:+573138968846">313 896 8846</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="bi-envelope h3 mt-2 mb-4 text-primary"></i>
                    <h3 class="h6 mb-3 fw-bold text-muted">Email</h3>
                    <ul class="list-unstyled fs-sm mb-0">
                        <li>
                            <span class="text-muted me-1">Asesorias:</span>
                            <a class="nav-link-style" href="mailto:fortaleza@gmail.com">customer@example.com</a>
                        </li>
                        <li class="mb-0">
                            <span class="text-muted me-1">Gerencia:</span>
                            <a class="nav-link-style" href="mailto:fortaleza@gmail.com">support@example.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MAP -->
<div class="container-fluid px-0 pt-4 mb-5 pb-5" id="map">
    <div class="container mb-3">
        <h3 class="text-segundario mb-0 pb-0">Mapa</h3>
        <p class="text-primario mb-0 text-break">
            <i class="ci-location"></i> busca nuestra ubicación
        </p>
    </div>
    <div class="iframe-full-height-wrap" style="height: 400px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.4758338595907!2d-73.10712053937608!3d7.070697729453996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e683fcc534ec609%3A0x91da39400c5df372!2sCentro%20Comercial%20Ca%C3%B1averal!5e0!3m2!1ses!2sve!4v1655236968485!5m2!1ses!2sve"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>