/* You can add global styles to this file, and also import other style files */

@import "../node_modules/swiper/swiper-bundle.css";

/* ===================================================
SWIPER
====================================================*/

.swiper {
    width: 18rem;
    height: auto;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* ===================================================
SWIPER
====================================================*/

.bg-primario {
    background: #344A96;
}

.bg-tercero {
    background: #499ED7;
}

.bg-segundario {
    background: #19A14C;
}

.bg-cuarto {
    background: #76C043;
}

.text-primario {
    color: #344A96;
}

.text-tercero {
    color: #499ED7;
}

.text-segundario {
    color: #19A14C;
}

.text-cuarto {
    color: #76C043;
}

.border-primario {
    border: #344A96 solid !important;
}

.border-tercero {
    border: #499ED7 solid !important;
}

.border-segundario {
    border: #19A14C solid !important;
}

.border-cuarto {
    border: #76C043 solid !important;
}

.title-section {
    border-left: #344A96 solid 3px;
    padding-left: 1rem;
}

.title-section-segundario {
    border-left: #19A14C solid 3px;
    padding-left: 1rem;
}

.title-section-tercero {
    border-left: #499ED7 solid 3px;
    padding-left: 1rem;
}


/* ==============================
NAVBAR
=============================*/

header .navbar-nav .nav-item .active,
header .navbar-nav .nav-item a:hover {
    color: #344A96 !important;
    font-weight: bold;
    animation: ease-in-out;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(0.4375rem - 1px);
}

.card-img,
.card-img-top,
.card-img-bottom {
    width: 100%;
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(0.4375rem - 1px);
    border-top-right-radius: calc(0.4375rem - 1px);
}

.card-img,
.card-img-bottom {
    border-bottom-right-radius: calc(0.4375rem - 1px);
    border-bottom-left-radius: calc(0.4375rem - 1px);
}

@media (min-width: 500px) {
    .card-group {
        display: flex;
        flex-flow: row wrap;
    }
    .card-group>.card {
        flex: 1 0 0%;
        margin-bottom: 0;
    }
    .card-group>.card+.card {
        margin-left: 0;
        border-left: 0;
    }
    .card-group>.card:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .card-group>.card:not(:last-child) .card-img-top,
    .card-group>.card:not(:last-child) .card-header {
        border-top-right-radius: 0;
    }
    .card-group>.card:not(:last-child) .card-img-bottom,
    .card-group>.card:not(:last-child) .card-footer {
        border-bottom-right-radius: 0;
    }
    .card-group>.card:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .card-group>.card:not(:first-child) .card-img-top,
    .card-group>.card:not(:first-child) .card-header {
        border-top-left-radius: 0;
    }
    .card-group>.card:not(:first-child) .card-img-bottom,
    .card-group>.card:not(:first-child) .card-footer {
        border-bottom-left-radius: 0;
    }
}