.btnImg>div {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: none;
}

.btnImg:hover>div {
    display: block;
}

.text-justify {
    text-align: justify;
}