<section class="mt-5 container pb-5">

    <!-- PERFIL -->
    <div class="py-5 px-3">

        <div class="row">

            <!-- FOTO DE PERFIL -->
            <div class="col-lg-4 col-xlg-3 col-md-5">

                <div class=" py-4 px-3 animated shadow fadeIn " style="border-radius:1rem;">
                    <p class="badge rounded-pill" [ngClass]="{'text-bg-warning': worker.type === 'Aspirante', 'text-bg-success': worker.type === 'Trabajador'}"> {{ worker.type }} </p>
                    <div class="card rounded mx-auto" style="width:8rem;">
                        <button type="button" class="border-0 p-0 btnImg" data-bs-toggle="modal" data-bs-target="#imagenPerfil">
                            
                            <div class="mx-auto " >
                                <p class="mb-0 text-white text-center" style="position: absolute; top:40%; left: 5%;">
                                    cambiar imagen
                                </p>
                            </div>

                            <img class="card-img rounded" [src]="worker.img | imagen: 'worker'" alt="">
                        </button>
                    </div>



                    <h3 class="mb-0 text-break text-sm-start text-center text-primario display-4">{{ worker.name }}</h3>

                    <h6 class="mb-0 text-break text-sm-start text-center text-mute">CC: {{ worker.cedula || 'Pendiente' }}</h6>
                    <h6 class="mb-0 text-break text-sm-start text-center text-mute">Telefono: <a class="text-decoration-none" href="tel:{{worker.phone}}">{{ worker.phone || 'Pendiente' }}</a></h6>
                    <h6 class="mb-0 text-break text-sm-start text-center text-mute">Email: <a class="text-decoration-none" href="mailto:{{worker.email}}"> {{ worker.email }} </a></h6>
                    <h6 class="text-mute"> Dirección: <span class="fw-normal">{{ worker.address || 'Pendiente' }}</span> </h6>

                    <div class="d-flex">
                        <button (click)="edit()" type="button" class="btn-link text-primario bg-white border-0 btn-sm py-0 " data-bs-toggle="modal" data-bs-target="#cambiarPassword"> <small>cambiar contraseña</small> </button>
                        <button (click)="edit()" type="button" class=" btn-link text-primario bg-white border-0 btn-sm ms-auto py-0 " data-bs-toggle="modal" data-bs-target="#staticBackdrop"> <i class="bi bi-pencil-square"></i> </button>
                    </div>

                </div>

                <div class="pb-5 px-3 shadow py-4 my-4" style="border-radius: 1rem;">
                    <div class="d-flex justify-content-between mb-4">
                        <h6 class="text-muted mb-0"> Experiencia o Habilidades </h6>

                        <button type="button" class="btn-link text-primario bg-white border-0 btn-sm ms-auto py-0 h4" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-plus-square"></i>
                        </button>

                        <div class="dropdown-menu">

                            <div class="container">

                                <form [formGroup]="formExp" (submit)="agregarExp()">

                                    <h5 class="text-muted">Agrega una experiencia o habilidad</h5>
                                    <hr>
                                    <div class="mb-1">
                                        <label for="experiencia" class="form-label mb-0">Experiencia ó Habilidad</label>
                                        <input formControlName="name" type="text" class="form-control" id="experiencia" placeholder="Experiencia">
                                        <small *ngIf="validateFormExp('name')" class="text-danger"> Campo obligatorio </small>
                                    </div>

                                    <div class="mb-3">
                                        <label for="años" class="form-label mb-0">Años</label>
                                        <input formControlName="years" type="number" min="0" class="form-control" id="años" placeholder="Años">
                                        <small *ngIf="validateFormExp('years')" class="text-danger"> Campo obligatorio y desde 1 año en adelante </small>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-sm w-100 btn-block">Agregar</button>

                                </form>

                            </div>

                        </div>

                    </div>

                    <!-- ENTREVISTA -->
                    <div>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="worker.skills.length === 0">
                                <h5 class="mb-0 text-muted text-center"> Aun no has agregado una habilidad o experiencia </h5>
                            </li>

                            <li *ngFor="let exp of worker.skills" class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <button (click)="eliminarExp(exp._id!)" type="button" class="btn-link text-danger bg-white border-0 btn-sm p-0 m-0 h6">
                                        <i class="bi bi-x"></i>
                                    </button> {{ exp.name }}
                                </div>
                                <span class="badge bg-primary rounded-pill">
                                    {{ exp.years }}

                                    <span *ngIf="exp.years > 1">años</span>
                                <span *ngIf="exp.years === 1">año</span>

                                </span>
                            </li>

                        </ul>
                    </div>
                    <!-- ENTREVISTA -->

                    <!-- SKILLS -->
                    <div>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item d-flex justify-content-between align-items-center" *ngIf="worker.skills.length === 0">
                                <h5 class="mb-0 text-muted text-center"> Aun no has agregado una habilidad o experiencia </h5>
                            </li>

                            <li *ngFor="let exp of worker.skills" class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <button (click)="eliminarExp(exp._id!)" type="button" class="btn-link text-danger bg-white border-0 btn-sm p-0 m-0 h6">
                                        <i class="bi bi-x"></i>
                                    </button> {{ exp.name }}
                                </div>
                                <span class="badge bg-primary rounded-pill">
                                    {{ exp.years }}

                                    <span *ngIf="exp.years > 1">años</span>
                                <span *ngIf="exp.years === 1">año</span>

                                </span>
                            </li>

                        </ul>
                    </div>
                    <!-- SKILLS -->

                </div>

            </div>
            <!-- FOTO DE PERFIL -->


            <!-- INFORMACION -->
            <div class="col-lg-8 col-xlg-9 col-md-7">

                <!-- DESCRIPCION -->
                <!-- <div class="pb-5 px-3 shadow py-4 mb-4" style="border-radius: 1rem;"></div> -->
                <!-- DESCRIPCION -->

                <!-- CHECK LIST -->
                <div class="pb-5 px-3 shadow py-4" style="border-radius: 1rem;">

                    <!-- <h4 class="mb-4 text-muted">Requisitos</h4> -->

                    <div class="accordion" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Requisitos obligatorios
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="row">

                                        <div class="col-md-6 px-2">

                                            <ul class="list-group list-group-flush ">
                                                <li class="list-group-item py-0"> <small>1.	Fotocopia de la cedula 150%</small> </li>
                                                <li class="list-group-item py-0"> <small>2.	Hoja de vida con todos los soportes ( académicos y laborales) </small> </li>
                                                <li class="list-group-item py-0"> <small>3.	Registro civil de los hijos, tarjeta de identidad o  cedula de ciudadanía  </small> </li>
                                                <li class="list-group-item py-0"> <small>4.	Si la persona es casada y va afiliar a su esposa dentro de su núcleo familiar debe aportar el registro de matrimonio  </small> </li>
                                                <li class="list-group-item py-0"> <small>5.	Certificado de la EPS </small> </li>
                                                <li class="list-group-item py-0"> <small>6.	Certificado del fondo de PENSIONES </small> </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-6 px-2">

                                            <ul class="list-group list-group-flush ">
                                                <li class="list-group-item py-0"> <small>7.	Certificado de CESANTÍAS </small> </li>
                                                <li class="list-group-item py-0"> <small>8.	Certificado de entidad bancaria no mayor a 30 días  </small> </li>
                                                <li class="list-group-item py-0"> <small>9.	Confirmación de la caja de compensación familiar a la que desea ser afiliado  </small> </li>
                                                <li class="list-group-item py-0"> <small>10. Copia del RUT ( si es responsable) </small> </li>
                                                <li class="list-group-item py-0"> <small>11. Certificado de antecedentes de CONTRALORIA, PROCURADURIA Y PONAL  </small> </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex mt-4">
                        <div>
                            <h4 class="mb-4 text-muted">Archivos Guardados</h4>
                        </div>

                        <div class="ms-auto">
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#subirArchivos">Subir</button>
                        </div>

                    </div>


                    <!-- TABLA DE ARCHIVOS -->
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Aprobado</th>
                                    <th scope="col">Accion</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngIf="worker.attachments.length === 0">
                                    <td colspan="5">
                                        <h4 class="mb-0 text-muted text-center"> No tienes ningun archivo guardado... </h4>
                                    </td>
                                </tr>

                                <tr *ngFor="let file of worker.attachments; let i = index">
                                    <th scope="row"> {{ i +1 }} </th>
                                    <td> {{ file.desc }} </td>
                                    <td> {{ file.fecha | date:'short' }} </td>
                                    <td>
                                        <span *ngIf="!file.status" class="badge text-bg-danger">Rechazada</span>
                                        <span *ngIf="!file.approved && file.status" class="badge text-bg-warning">Pendiente</span>
                                        <span *ngIf="file.approved && file.status" class="badge text-bg-success">Aprobada</span>
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-primary border-0" [href]="url+'/uploads/archivos/'+file.attachment" target="_blank"> <i class="bi bi-arrow-90deg-right"></i> </a>
                                        <button (click)="deleteFile(file.attachment)" type="button" class="btn btn-sm btn-outline-danger border-0"> <i class="bi bi-trash"></i> </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- TABLA DE ARCHIVOS -->

                </div>
                <!-- CHECK LIST -->


                <!-- TRABAJOS ASSIGNADOS -->
                <div class="mt-4 pb-5 px-3 shadow py-4" style="border-radius: 1rem;">
                    <!-- TABLA DE ARCHIVOS -->
                    <h4 class="mb-4 text-muted">Trabajos Asignados</h4>

                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Empresa</th>
                                    <th scope="col">Pago</th>
                                    <th scope="col">Fecha de inicio</th>
                                    <th scope="col">Accion</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngIf="jobs.length === 0">
                                    <td colspan="5">
                                        <h4 class="mb-0 text-muted text-center"> No tienes ningun trabajo... </h4>
                                    </td>
                                </tr>

                                <tr *ngFor="let job of jobs; let i = index">
                                    <th scope="row"> {{ job.control}} </th>
                                    <td> {{ job.bussiness.name }} </td>
                                    <td> {{ job.sueldo | currency: 'COP' }} </td>
                                    <td> {{ job.fechain | date:'short' }} </td>
                                    <td>
                                        <button (click)="selectJob(job)" type="button" class="btn btn-sm btn-outline-primary border-0" data-bs-toggle="modal" data-bs-target="#certificado"> 
                                            <i class="bi bi-award"></i> 
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- TABLA DE ARCHIVOS -->
                </div>
                <!-- TRABAJOS ASSIGNADOS -->

            </div>
            <!-- INFORMACION -->
        </div>

    </div>

</section>

<!-- MODAL EDITAR PERFIL -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editar perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <form class="mb-4" autocomplete="off" [formGroup]="editarForm" (ngSubmit)="editar()">

                        <div class="form-floating mb-3 ">
                            <input formControlName="name" [ngClass]="{'is-invalid': validateForm('name')}" type="text" class="form-control" id="floatingInputName" placeholder="Nombres">
                            <label for="floatingInputName">Nombres</label>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input formControlName="cedula" [ngClass]="{'is-invalid': validateForm('cedula')}" type="text" class="form-control" id="floatingInputCedula" placeholder="Cedula">
                            <label for="floatingInputCedula">Cedula</label>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input formControlName="phone" [ngClass]="{'is-invalid': validateForm('phone')}" type="text" class="form-control" id="floatingInpuPhone" placeholder="Telefono">
                            <label for="floatingInputPhone">Phone</label>
                        </div>

                        <div class="form-floating mb-3 ">
                            <input formControlName="city" type="text" class="form-control" id="floatingInputCity" placeholder="Ciudad">
                            <label for="floatingInputCity">City</label>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input formControlName="department" type="text" class="form-control" id="floatingInputDepartment" placeholder="Departamento">
                            <label for="floatingInputDepartment">Departamento</label>
                        </div>

                        <div class="form-floating mb-3 ">
                            <input formControlName="address" [ngClass]="{'is-invalid': validateForm('address')}" type="text" class="form-control" id="floatingInputAddress" Dirección="Dirección">
                            <label for="floatingInputAddress">Dirección</label>
                        </div>

                        <div class="form-floating mb-3 ">
                            <input formControlName="barrio" [ngClass]="{'is-invalid': validateForm('barrio')}" type="text" class="form-control" id="floatingInputBarrio" Dirección="Barrio">
                            <label for="floatingInputBarrio">Barrio</label>
                        </div>


                        <div *ngIf="validateForm('terminos')" class="text-danger">
                            <small>** Debes de aceptar todos los terminos y politicas de privacidad </small>
                        </div>

                        <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Editar</button>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL EDITAR PERFIL -->

<!-- MODAL CAMBIAR CONTRASEÑA -->
<div class="modal fade" id="cambiarPassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="cambiarPasswordLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cambiarPasswordLabel">Cambiar Contraseña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <form class="mb-4" autocomplete="off" [formGroup]="formPassReset" (ngSubmit)="resetPassword()">

                        <div class="form-floating ">
                            <input formControlName="password" [ngClass]="{'is-invalid': validateFormPass('password')}" type="password" class="form-control" id="floatingInputPassword2" placeholder="Contraseña">
                            <label for="floatingInputPassword2">Contraseña</label>
                        </div>
                        <div class="form-floating mt-4">
                            <input formControlName="repassword" [ngClass]="{'is-invalid': validateFormPass('repassword')}" type="password" class="form-control" id="floatingInputRepPassword2" placeholder="Repetir Contraseña">
                            <label for="floatingInputRepPassword2">Repetir contraseña</label>
                        </div>

                        <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Cambiar</button>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL CAMBIAR CONTRASEÑA -->

<!-- MODAL SUBIR ARCHIVOS -->
<div class="modal fade" id="subirArchivos" tabindex="-1" aria-labelledby="subirArchivosLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div *ngIf="loading" class="spinner-grow text-primary me-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <h5 class="modal-title" id="subirArchivosLabel">Subir Archivos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <label for="descc"> Tipo de documento </label>
                <select id="descc" class="form-select" aria-label="Default select example" #desc>
                    <option value="Cedula Ciudadania">Cedula Ciudadania</option>
                    <option value="Hoja de vida">Hoja de vida</option>
                    <option value="Registro Civil">Registro Civil</option>
                    <option value="Registro de Matrimonio">Registro de Matrimonio</option>
                    <option value="EPS">EPS</option>
                    <option value="Pensiones">Certificado del Fondo Pensiones</option>
                    <option value="Cesantias">Certificado de Cesantias</option>
                    <option value="Banco">Certificado Bancario</option>
                    <option value="Caja de Compensacion">Caja de Compensacion</option>
                    <option value="RUT">RUT</option>
                    <option value="Antecedentes">Certificado de antecedentes de CONTRALORIA, PROCURADURIA Y PONAL</option>
                    <option value="Examen Medico">Examen Medico</option>
                    <option value="Pruebas Psicotecnicas">Pruebas Psicotecnicas</option>
                </select>

                <div class="d-flex flex-row flex-wrap gap-2 justify-content-center mt-2">

                    <div>
                        <input #file type="file" class="form-control" name="" id="" placeholder="" (change)="selecArch($event.target)">
                    </div>

                    <button [disabled]="loading" (click)="subirArch(desc.value)" type="button" name="" id="" class="btn btn-primary btn-sm">
                        <span *ngIf="!loading">                            
                            Guardar
                        </span>
                        <span *ngIf="loading">                            
                            Guardando...
                        </span>
                    </button>

                </div>

            </div>
            <div class="modal-footer">
                <div class="d-flex">
                    <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL SUBIR ARCHIVOS -->

<!-- MODAL CAMBIAR IMAGEN DE PERFIL -->
<div class="modal fade" id="imagenPerfil" tabindex="-1" aria-labelledby="imagenPerfilLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imagenPerfilLabel">Foto de perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="animated fadeIn">
                    <div class="card rounded mx-auto" style="width:8rem;">
                        <label for="formFileSm" class="form-label mb-0">
                            <img *ngIf="!imgTempP" class="card-img rounded" [src]="worker.img | imagen: 'worker'" alt="">
                            <img *ngIf="imgTempP" [src]="imgTempP" class="card-img rounded" alt="">
                        </label>
                    </div>

                    <div>
                        <!-- Description-->
                        <div class="small font-italic text-muted mb-4 text-center">JPG - PNG - WEBP - no mayor a 8 mb</div>
                        <div class="mb-3" style="display: none;">
                            <input #fileImg class="form-control form-control-sm" id="formFileSm" type="file" (change)="cambiarImage($event)">
                        </div>
                        <!-- BTN upload Image -->
                        <div class="d-flex justify-content-center">

                            <button *ngIf="imgTempP" class="btn btnW btn-primary waves-effect waves-light mx-auto" [disabled]=" !subirImagen " (click)="subirImg() " type="button ">Actualizar Imagen</button>
                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer ">
                <div class="d-flex ">
                    <button type="button " class="btn btn-secondary ms-auto " data-bs-dismiss="modal ">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL CERTIFICADO-->
<div class="modal fade" id="certificado" tabindex="-1" aria-labelledby="certificadoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="certificadoLabel">Certificado Laboral</h5>
                <button type="button" (click)="downloadPDF()" class="btn btn-danger btn-sm ms-4">PDF</button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div *ngIf="jobSelect" class="px-4" id="pdf">


                    <div class="container-fluid py-5">

                        <div class="d-flex justify-content-center mb-4">
                            <img src="../../../assets/img/logo/logo.webp" style="max-width: 200px;" alt="">
                        </div>

                        <h3 class="box-title mb-0 text-center fw-bold"> FORTALEZA TEMP JOB PLUS EST S.A.S</h3>
                        <h4 class="box-title mb-4 text-center fw-bold"> NIT. 901.601.054-5</h4>

                        <p class="text-center mx-auto">CERTIFICA QUE:</p>

                        <br>
                        <p class="text-justify ">
                            El colaborador (a) <span class="fw-bold">{{ worker.name }}</span>, con Cédula de Ciudadanía número <span class="fw-bold">{{ worker.cedula | number }}</span>, labora al servicio de esta compañía desde el {{ jobSelect.fechain
                            | date:'d/M/yy' }} a la fecha, mediante un contrato de Obra o Labor Contratada desempeñando el cargo de <span class="fw-bold"> {{ jobSelect.name
                            }} </span> en la empresa usuaria <span class="fw-bold">{{ jobSelect.bussiness.name }}</span>.
                        </p>
                        <br>

                        <p class="text-justify">La presente se expide en la ciudad de Bucaramanga a solicitud del trabajador {{ worker.name }} dirigida a QUIEN INTERESE, con fecha {{ dateActual | date:'d, MMMM, y' }}.</p>

                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p>Atentamente,</p>
                        <br>
                        <br>
                        <br>

                        <div>
                            <div>
                                <div style="max-width: 200px; border-bottom: 2px solid #dcdcdc;">
                                    <img src="../../../assets/img/logo/firma.jpg" style="max-width: 150px; margin: auto;" alt="">
                                </div>
                                <div>
                                    <p class="mb-0">YURY MARCELA ESCALANTE</p>
                                    <p class="mb-0">Coordinadora de Gestión Humana</p>
                                    <p class="mb-0">Tel. 3245173063</p>
                                    <p class="mb-0">gestion.humana@fortalezasas.com</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer ">
                <div class="d-flex ">
                    <button type="button " class="btn btn-secondary ms-auto " data-bs-dismiss="modal ">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>