<section class="mt-5 container pb-5">

    <!-- PERFIL -->
    <div class="py-5 px-3 shadow-sm">

        <div class="d-flex align-items-start justify-content-center flex-wrap flex-md-nowrap gap-4">

            <div class="animated fadeIn">
                <div class="card rounded" style="width:8rem;">
                    <img class="card-img rounded" src="../../../assets/img/user/user.jpg" alt="">
                </div>
                <div class="ms-auto text-white fw-bold py-2 text-center mt-2" [ngClass]="{'bg-warning': worker.type === 'Aspirante', 'bg-success': worker.type === 'Trabajador'}"> {{ worker.type }} </div>
            </div>

            <div class="animated fadeInLeft">
                <h3 class="mb-0 text-break text-sm-start text-center text-primario display-4">{{ worker.name }}</h3>
                <h6 class="mb-0 text-break text-sm-start text-center text-mute">Telefono: <a class="text-decoration-none" href="tel:{{worker.phone}}">{{ worker.phone || 'Pendiente' }}</a></h6>
                <h6 class="mb-0 text-break text-sm-start text-center text-mute">Email: <a class="text-decoration-none" href="mailto:{{worker.email}}"> {{ worker.email }} </a></h6>
                <h6 class="text-mute"> Dirección: <span class="fw-normal">{{ worker.address || 'Pendiente' }}</span> </h6>
                <button (click)="edit()" type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> <i class="bi bi-pencil-square"></i> </button>
            </div>

        </div>

    </div>
    <!-- PERFIL -->

    <!-- CURRICULUM -->
    <div class="py-5 px-3 shadow-sm mt-5">

        <h4 class="text-muted text-center"> Adjunte aqui archivos ejemplo: Hoja de vida - Cursos - Talleres - Capacitaciones </h4>

        <div class="d-flex flex-row flex-wrap gap-2 justify-content-center">

            <div>
                <input type="file" class="form-control" name="" id="" placeholder="">
            </div>
            <button type="button" name="" id="" class="btn btn-primary btn-sm">Guardar</button>

        </div>

        <div class="d-flex justify-content-center flex-wrap gap-4 mt-4">

            <a class="shadow-sm p-4 text-decoration-none bg-primario text-white rounded" href=" " download=" ">
                1
            </a>
            <a class="shadow-sm p-4 text-decoration-none bg-primario text-white rounded" href="" download=""> 2
            </a>
            <a class="shadow-sm p-4 text-decoration-none bg-primario text-white rounded" href=" " download=" ">
                3
            </a>
            <a class="shadow-sm p-4 text-decoration-none bg-primario text-white rounded" href="" download=""> 4
            </a>
            <a class="shadow-sm p-4 text-decoration-none bg-primario text-white rounded" href=" " download=" ">
                5
            </a>

        </div>

    </div>
    <!-- CURRICULUM -->


</section>


<!-- MODAL EDITAR PERFIL -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editar perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <form class="mb-4" autocomplete="off" [formGroup]="editarForm" (ngSubmit)="editar()">
                        <img class="mb-4" src="../../../assets/img/logo/logo.webp" alt="" height="57">
                        <h1 class="h3 mb-3 fw-normal">Registrarme</h1>

                        <div class="form-floating ">
                            <input formControlName="name" [ngClass]="{'is-invalid': validateForm('name')}" type="text" class="form-control" id="floatingInputName" placeholder="Nombres">
                            <label for="floatingInputName">Nombres</label>
                        </div>
                        <div class="form-floating ">
                            <input formControlName="cedula" [ngClass]="{'is-invalid': validateForm('cedula')}" type="text" class="form-control" id="floatingInputCedula" placeholder="Cedula">
                            <label for="floatingInputCedula">Cedula</label>
                        </div>
                        <div class="form-floating ">
                            <input formControlName="phone" [ngClass]="{'is-invalid': validateForm('phone')}" type="text" class="form-control" id="floatingInpuPhone" placeholder="Telefono">
                            <label for="floatingInputPhone">Phone</label>
                        </div>
                        <div class="form-floating ">
                            <input formControlName="address" [ngClass]="{'is-invalid': validateForm('address')}" type="text" class="form-control" id="floatingInputAddress" Dirección="Dirección">
                            <label for="floatingInputAddress">Dirección</label>
                        </div>
                        <div class="form-floating ">
                            <input formControlName="city" type="text" class="form-control" id="floatingInputCity" placeholder="Ciudad">
                            <label for="floatingInputCity">City</label>
                        </div>
                        <div class="form-floating ">
                            <input formControlName="department" type="text" class="form-control" id="floatingInputDepartment" placeholder="Departamento">
                            <label for="floatingInputDepartment">Departamento</label>
                        </div>

                        <div *ngIf="validateForm('terminos')" class="text-danger">
                            <small>** Debes de aceptar todos los terminos y politicas de privacidad </small>
                        </div>

                        <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">Editar</button>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL EDITAR PERFIL -->