<!-- Dark footer -->
<div *ngIf="!cookie" class="container-fluid py-2 bg-dark opacity-75 fixed-bottom" style=" z-index: 50;">
    <div class="mx-auto">
        <p class="text-break text-white mb-0 fw-normal text-center">
            Este sitio web utiliza cookies propias y de terceros para ofrecerle una mejor experiencia y servicio
            <br> Al navegar o utilizar nuestros servicios, acepta nuestro uso de cookies.
            <button type="button" (click)="acceptCokies()" class="btn btn-sm btn-outline-light rounded-pill">Yo acepto</button></p>
    </div>
</div>
<footer class="bg-primario pt-5 w-100" style="bottom: 0; position: fixed; z-index: -1;">

    <div class="container">

        <div class="row pb-2">

            <div class="col-md-4 col-sm-6">
                <h5 class="mb-4 text-white fw-bold">CONTACTO</h5>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <span class="text-white"><i class="bi-phone"></i> <a href="tel:+573245173063" class="text-decoration-none text-white"> 324-5173063</a></span>
                    </li>
                    <li class="nav-item">
                        <span class="text-white"><i class="bi-envelope"></i> <a href="mailto:gestioncomercial@fortalezasas.com" class="text-decoration-none text-white"> gestioncomercial@fortalezasas.com</a></span>
                    </li>
                </ul>

            </div>

            <div class="col-md-4 col-sm-6">
                <h5 class="mb-4 text-white fw-bold">SERVICIOS</h5>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="text-white">Reclutamiento</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white">Administración Temporal</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">

                <h5 class="mb-4 text-white fw-bold">PLATAFORMA</h5>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="text-white">Trabajadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white">Empresas</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="pb-2 text-light opacity-50 text-center text-md-start mt-4">© Todos los derechos reservados grupofortalezasas.com - {{year}}</div>
    </div>
</footer>