<!-- Dark footer -->
<footer class="bg-primario pt-5 w-100" style="bottom: 0; position: fixed; z-index: -1;">

    <div class="container">

        <div class="row pb-2">

            <div class="col-md-4 col-sm-6">
                <h5 class="mb-4 text-white fw-bold">CONTACTO</h5>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <span class="text-white"><i class="bi-phone"></i> <a href="tel:+573138968846" class="text-decoration-none text-white"> 313-8968846</a></span>
                    </li>
                    <li class="nav-item">
                        <span class="text-white"><i class="bi-envelope"></i> <a href="mailto:fortaleza@gmail.com" class="text-decoration-none text-white"> fotaleza@gmail.com</a></span>
                    </li>
                </ul>

            </div>

            <div class="col-md-4 col-sm-6">
                <h5 class="mb-4 text-white fw-bold">SERVICIOS</h5>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="text-white">Reclutamiento</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white">Administración Temporal</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">

                <h5 class="mb-4 text-white fw-bold">PLATAFORMA</h5>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="text-white">Trabajadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white">Empresas</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="pb-2 text-light opacity-50 text-center text-md-start mt-4">© Todos los derechos reservados fortalezatempjob.com - {{year}}</div>
    </div>
</footer>