<section class="" style="min-height: 75vh;">
    <div class="d-flex justify-content-center align-item-center ">
        <div class="my-5 col-md-6">
            <h1 class="h3">TRABAJADOR Y/O ASPIRANTES</h1>

            <div class="border px-4 py-5">

                <div>
                    <form class="mb-4" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
                        <img class="mb-4" src="../../../assets/img/logo/logo.webp" alt="" height="57">
                        <h1 class="h3 mb-3 fw-normal">Inicia sesión</h1>

                        <div class="form-floating mb-3">
                            <input formControlName="email" type="email" [ngClass]="{'is-invalid': validate('email')}" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input formControlName="password" type="password" [ngClass]="{'is-invalid': validate('password')}" class="form-control" id="floatingPassword" placeholder="Contraseña">
                            <label for="floatingPassword">Contraseña</label>
                        </div>

                        <div class="checkbox mb-3">
                            <label>
                            <input type="checkbox" value="remember-me" formControlName="remember" [checked]="remember"> Recuerdame
                          </label>
                        </div>

                        <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>

                    </form>

                    <div class="d-flex justify-content-between gap-3">
                        <a routerLink="/registrarse" class=""> Crear cuenta nueva</a>

                        <a type="button" class="pointer" data-bs-toggle="modal" data-bs-target="#recuperarcontraseña"> Olvide mi contraseña?</a>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>


<!-- RECUPERAR CONTRASEÑA -->
<div class="modal fade" id="recuperarcontraseña" tabindex="-1" aria-labelledby="recuperarcontraseñaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="recuperar contraseñaLabel">Recuperar Contraseña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form autocomplete="off" [formGroup]="formPassRee" (ngSubmit)="rePass()">

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input formControlName="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        <small *ngIf="validatePass('email')" class="text-danger">El email es obligatorio</small>
                    </div>

                    <button type="submit" [disabled]="btnFormPass" class="btn btn-primary mb-3">
                        <span *ngIf="!btnFormPass">
                            Recuperar                            
                        </span>
                        <span *ngIf="btnFormPass">
                            Enviando...
                        </span>

                    </button>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- RECUPERAR CONTRASEÑA -->